<div id='userInfo'><app-user-info [userInfo]='userInfo'></app-user-info></div>
<div id='userList'>
  <h2>User List</h2>
  <table>
    <thead>
      <th>UserName</th>
      <th>Email</th>
      <th>Delete?</th>
    </thead>
    <tr *ngFor='let user of users, let idx = index'>
      <th><button (click)='userDetail(idx)'>{{ user.username }}</button></th>
      <th>{{ user.email }}</th>
      <th><button (click)='deleteUser( user._id, idx )'>delete</button></th>
    </tr>
  </table>
</div>
<div>
    <h2>Add User</h2>

    <form (submit)='onSubmit()' #formData="ngForm">
      <input type='text' name='newUser.username' required [(ngModel)]='newUser.username' placeholder='username' />
      <input type='text' name='newUser.email' required [(ngModel)]='newUser.email' placeholder='Email' /><br>
      <input type='text' name='newUser.fullname' required [(ngModel)]='newUser.fullname' placeholder='Full Name' />
      <input type='text' name='newUser.age' required [(ngModel)]='newUser.age' placeholder='Age' /><br>
      <input type='text' name='newUser.location' required [(ngModel)]='newUser.location' placeholder='Location' />
      <input type='text' name='newUser.gender' required [(ngModel)]='newUser.gender' placeholder='gender' /><br>
      <input type='submit' [disabled]="!formData.form.valid" value='Add User' />
    </form>
</div>