table {
    border-collapse:separate;
	border-spacing:1px;
	background:#CCC;
}
table th {
    background:#EEE;
    font-weight:600;
    padding:10px 20px;
    text-align:center;
}
table tbody {
    padding:0; margin:0;
    border-collapse:collapse;
    border-spacing:0px;
}
table td {
    background:#FFF;
    padding:5px 10px;
    text-align:center;
}
#userInfo{
    width:250px;
    display: inline-block;
}
#userList {
    margin:0 0 30px 0;
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;
}