* {
    /* padding: 30px; */
    font: "Lucida Grande", Helvetica, Arial, sans-serif;
    /* border: red dotted thin; */
}
h1 {
	margin:0 0 .7em 0;
}
h2 {
	margin:0 0 .5em 0;
}
#userInfo{
    width:250px;
    display: inline-block;
}
#userList {
    margin:0 0 30px 0;
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;
}