<h2>User Info</h2>
<div id='info'>
  <p>
    <strong>Name: </strong> {{ userInfo.fullname }}<br>
    <strong>Age: </strong> {{ userInfo.age }}<br>
    <strong>Gender: </strong> {{ userInfo.gender }}<br>
    <strong>Locaton: </strong> {{ userInfo.location }}
  </p>
</div>